.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}

.sliderWrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  transition: transform 0.5s ease;
  box-sizing: border-box;
}

.sliderCard {
  transition: transform 0.5s ease, opacity 0.5s ease;
  flex: 0 0 auto; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.centerCard {
  z-index: 2; 
}

.edgeCard {
  z-index: 1;
}

.cardcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cardcontainer img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 40px;
}

.cardcontainer button {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 28px;
  background-color: #FFE600;
  color: #222222;
  border: none;
  border-radius: 6rem;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
}
